.banner__card {
  padding: 19px;
  background-color: $accent;
  border: 1px solid $border;
  .post__title {
    margin-bottom: 10px;
  }
  .post__date {
    margin-bottom: 10px;
  }
  .feed__text {
    margin-bottom: 20px;
  }
  .banner__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    .banner__item {
      display: flex;
      position: relative;
      align-items: flex-start;
      padding-left: 20px;
      &:before {
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        background-color: $darkBlue;
        border-radius: 50%;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
      }
      .feed__text {
        margin-bottom: 0;
      }
    }
  }
}
