.black__list {
  padding: 19px;
  background: $accent;
  border: 1px solid $border;
  .delete__title {
    margin-bottom: 15px;
  }
  .post-create__inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .post__date {
    margin-bottom: 6px;
  }
  .create__bottom {
    display: flex;
    align-items: center;
    gap: 20px;
    .btn {
      max-width: 300px;
    }
    .post__date {
      margin-bottom: 0;
    }
  }
  .custom__select {
    position: relative;
    select {
      padding: 20px;
      width: 100%;
      border: 1px solid $border;
      display: flex;
      gap: 10px;
    }
  }
  .black__list {
    .list__items {
      display: none;
    }
  }
}

.black__list.item {
  .list__items {
    display: block;
  }
  .black__items {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .black__item {
    display: flex;
    align-items: center;
    .black__img {
      margin-right: 10px;
    }
    .meatballs {
      margin-left: auto;
    }
  }
}

@media (max-width: 1200px) {
  .black__list {
    padding: 19px 14px;
    .create__bottom {
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
      .btn {
        max-width: none;
      }
    }
  }
}

@media (max-width: 960px) {
  .black__list {
    .delete__title {
      font-size: 18px;
      line-height: 21px;
    }
    .create__bottom {
      flex-direction: row;
      gap: 20px;
      align-items: center;
      .btn {
        max-width: 300px;
      }
    }
  }
}

@media (max-width: 640px) {
  .black__list {
    .create__bottom {
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
      .btn {
        max-width: none;
      }
    }
  }
}

@media (max-width: 480px) {
  .black__list {
    padding: 19px 9px;
    .delete__title {
      font-size: 16px;
      line-height: 19px;
    }
  }
}
