// Colors
$accent: #fafeff;
$text: #000f13;
$white: #fff;
$black: #1b1b1b;
$gray: #c9c9c9;
$grayLight: #494949;
$grayText: #7d8688;
$grayTitle: #5f767c;
$bg: #f6f6f6;
$bgRead: #f9f9fb;
$readText: #5f767c;
$adBg: #f9f9fb;
$border: #d9d9d9;

$green: #00980f;
$yellow: #ffcb57;
$red: #ff0000;
$darkRed: #bf0000;
$blue: #5988ff;
$darkBlue: #245d7b;
$deepBlue: #1b465c;

// Grid
$containerWidth: 1220px;
